:root {
    --theme-color: rgb(255,255,255);
    --theme-ui-color: rgb(230,230,230);
    --theme-font-color: rgb(0,0,0);
    --theme-active-color: rgb(162, 255, 109);
    --theme-input-color: rgb(241,242,243);
    --theme-visited-color: rgb(23, 134, 245);
}
.pop {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    transition: opacity 1s;
    opacity: 0;
    font-size: large;
    visibility: hidden;
    padding: 5%;
    background-color: var(--theme-color);
    z-index: 1000;
    overflow-y: auto;
}
.pop_Menu {
    display: flex;
    font-size: 20px;
    gap: 30px;

    a:hover {
        color: var(--theme-font-color);
    }

    a:visited {
        color: var(--theme-visited-color);
    }

    .active {
        background-color: var(--theme-active-color);
    }
    
}
.pop_Option {
    background-color: var(--theme-ui-color);
    border: 1px solid var(--theme-input-color);
    border-radius: 10px;
}
.covert {
    display: none;
}

#shadowCover {
    background: #000;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=30);
    opacity: 0.3;
    visibility: hidden;
    z-index: 2;
}
.close_Button {
    position: absolute;
    font-size: 30px;
    top: 5%;
    right: 5%;
}
.confirm_Button {
    min-height: 50px;
    height: 10%;
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.fadeout{
   -webkit-transition:all 0.5s linear;
   -moz-transition:all 0.5s linear;
   -ms-transition:all 0.5s linear;
   -o-transition:all 0.5s linear;
   transition:all 0.5s linear;
}
.pop_Button:focus > .pop { visibility:visible; opacity:1; }

html, body {
    background: var(--theme-color);
    height: 100%;
	margin: 0; 
	padding: 0;
	border: 0;
    color: var(--theme-font-color);
}
video::-webkit-media-controls-timeline {
display: none;
}
video::-webkit-media-controls-current-time-display {
display: none;
}
video::-webkit-media-controls-time-remaining-display {
display: none;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {  /*TODO*/
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #afafaf;
    -webkit-border-radius: 100px;
}
.time {
    vertical-align: middle;
    position: relative;
    top: 8px;
    float: right;
    font-size: 15px;
    color: rgb(69, 164, 241);
}
.usr {
    vertical-align: middle;
    font-size: 21px;
    color: rgb(16, 201, 47);
}
.msgs {
    position: relative;
    z-index: 998;
}
#webVideo {
    object-fit: fill;
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 85%;
}
.container {
    width: 100%;
    white-space: nowrap;
    height: 14%;
    background: var(--theme-color);
    overflow-y: hidden;
}
.container::-webkit-scrollbar-thumb {
    background: #afafaf;
    -webkit-border-radius: 100px;
}
.box {
    display: inline-block;
    border-right: 1px solid var(--theme-ui-color);
    box-sizing: border-box;
    padding: 10px;
    height: 98%;
    padding-bottom: 0px;
    overflow-x: hidden;
}
.videoBox {
    width: 100%;
    height: 86%;
    background-color: rgb(34,39,46);
}
#chatContainer {
    float: right;
    border:1px solid var(--theme-ui-color);
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    overflow: hidden;
}
#chatBox {
    background-color: var(--theme-color);
    word-break: break-word;
    margin-bottom: 10px;
    height: 94%;
    overflow-y: auto;
}
.chatImg {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}
.chatText {
    padding-left: 32px;
}
.sendInput {
    min-height: 30px;
}
#sendMessageBox {
    width: 130px;
}
#msgImgInput {
    height: 20px;
    width: 130px;
}
.indexBox {
    padding: 10px;
    width: 50%;
}
.rooms {
    position: relative;
    border: 1px solid var(--theme-ui-color);
    background-color: var(--theme-ui-color);  /*0.5 opacity*/
    display: block;
    float: left;
    height: 150px;
    width: 150px;
    font-size: 20px;
    color: var(--theme-font-color);    /*0.8 opacity*/
    overflow: auto;
}
/* #openRoomInfo {
    border: 1px solid var(--theme-color);
    background-color: /*rgb(34,39,46)*//* var(--theme-color);
    display: flex;
    align-items: flex-start;
    position: absolute;
    z-index: 999;
    width: 99%;
    overflow-y: hidden;
    transition: 0.5s;
    height: 0px;
} */
#roomCover {
    width: 150px;
    height: 150px;
    margin: 1%;
    vertical-align: text-top;
    border: 1px solid var(--theme-font-color);
}
.actionButton {
    position: relative;
    float: right;
    width: 100%;
    max-width: 100px;
    min-height: 100px;
    height: 45%;
    margin-top: 1%;
}
#roomTitle {
    height: 20%;
    margin: 1%;
    font-size: large;
    word-break: break-word;
    vertical-align: text-top;
}
#roomSummary {
    background-color: var(--theme-input-color);
    height: 60%;
    margin: 1%;
    border: 1px solid var(--theme-font-color);
    overflow: auto;
    vertical-align: text-top;
}
#nodeInfo {
    background-color: var(--theme-input-color);
    min-height: 100px;
    width: 80%;
    height: 60%;
}
#stable {
    float: left;
    width: 15%;
    height: 100%;
}
#hostBlock {
    min-height: 50px;
    width: 100%;
    height: 50%;
}
#refreshMap {
    min-height: 50px;
    font-size: 10px;
    width: 100%;
    height: 50%;
}
#block0 {
    background-color: var(--theme-input-color);
    float: left;
    width: 40%;
    height: 100%;
    border: 1px solid var(--theme-ui-color);
    overflow: auto;
}
#block1 {
    background-color: var(--theme-input-color);
    float: left;
    width: 40%;
    height: 100%;
    border: 1px solid var(--theme-ui-color);
    overflow: auto;
}
.childNodes {
    min-width: 100%;
}
.menu {
    background-color: var(--theme-ui-color);
    border: 1px solid var(--theme-input-color);
    border-radius: 20px;
    margin-right: 10px;
    height: 50px;
}
#LiveCover {
    background-color: var(--theme-input-color);
    width: 150px;
    height: 150px;
    margin: 1%;
    border: 1px solid var(--theme-color);
}
.liveInput {
    background-color: var(--theme-input-color);
    min-width: 150px;
    width: 70%;
    height: 10%;
    margin-bottom: 5px;
}
#LiveSummary {
    width: 70%;
    background-color: var(--theme-input-color);
    height: 30%;
    word-wrap: break-word;
    overflow: scroll;
}
#streamSource {
    background-color: var(--theme-color)/*rgb(34,39,46)*/;
    border: 1px solid var(--theme-color);
    display: flex;
    overflow-y: hidden;
    position: absolute;
    z-index: 999;
    width: 99%;
    transition: 0.5s;
    height: 0px;
}
.setting{
    width: 40px;
}
input {
    background-color: var(--theme-input-color);
    color: var(--theme-font-color);
    border: unset;
    border-radius: 5px;
}
button {
    background-color: var(--theme-input-color);
    color: var(--theme-font-color);
    border-radius: 10px;
}
input[type=checkbox]{
    background-color: var(--theme-input-color);
    border-radius: 10px;
}
input[type="file"]::file-selector-button {
    background-color: var(--theme-input-color);
    color: var(--theme-font-color);
    border-radius: 10px;
}
option{
    background-color: var(--theme-input-color);
    color: var(--theme-font-color);
    border-radius: 10px;
}
select{
    background-color: var(--theme-input-color);
    color: var(--theme-font-color);
    border-radius: 10px;
}
textarea {
    border-radius: 5px;
    background-color: var(--theme-input-color);
    color: var(--theme-font-color);
}
textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
textarea::-webkit-scrollbar-thumb {
    background: var(--theme-input-color);
/*    background: #afafaf*/;
    -webkit-border-radius: 100px;
}
.icon {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
#fullScreen {
    z-index: 99999;
}
@media only screen and (orientation: portrait) {
    /* Styles for devices in portrait mode go here */
    .container {
        height: 35%;
        position: absolute;
        bottom: 0px;
        overflow: auto;
    }
    #webVideo {
        position: static;
        width: 100%;
        height: 35%;
    }
    #chatContainer {
        width: 100%;
        height: 40%;
    }
    /* #streamSource {
        position: absolute;
        bottom: 0px;
    } */
    #chatBox {
        height: 86%;
    }
    /* #LiveCover {
        width: 80px;
        height: 80px;
    } */
    /* #openRoomInfo {
        position: absolute;
        bottom: 0px;
    } */
    .indexContainer {
        position: absolute;
        bottom: 0px;
    }
    /* #roomTitle {
        width: 100%;
    }
    #roomSummary {
        height: 30%;
    }
    #nodeInfo {
        width: 100%;
    }
    #stable {
        width: 28%;
        height: 80%;
    }
    #block0 {
        width: 35%;
    }
    #block1 {
        width: 35%;
    }
    #roomCover {
        width: 60px;
        height: 60px;
    } */
    .sendInput {
        width: 100%;
    }
    #sendMessageBox {
        width: 250px;
    }
    /* #streamSourceMenuClose {
        width: 50px;
        height: 50px;
    } */
}
@media only screen and (orientation: landscape) {
    /* #openRoomInfo {
        top: 0px;
    } */
    /* #roomTitle {
        width: 86%;
    } */
    /* #streamSource {
        top: 0;
    } */
}
