html, body {
    background: rgb(28,33,40);
    height: 100%;
	margin: 0; 
	padding: 0;
	border: 0;
    color: rgb(197,209,216);
}
video::-webkit-media-controls-timeline {
display: none;
}
video::-webkit-media-controls-current-time-display {
display: none;
}
video::-webkit-media-controls-time-remaining-display {
display: none;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {  /*TODO*/
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #afafaf;
    -webkit-border-radius: 100px;
}
.time {
    vertical-align: middle;
    position: relative;
    top: 8px;
    float: right;
    font-size: 15px;
    color: rgb(69, 164, 241);
}
.usr {
    vertical-align: middle;
    font-size: 21px;
    color: rgb(16, 201, 47);
}
.msgs {
    position: relative;
    z-index: 998;
}
#webVideo {
    object-fit: fill;
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 85%;
}
.container {
    width: 100%;
    white-space: nowrap;
    height: 14%;
    background: rgb(28,33,40);
    overflow-x: auto;
    overflow-y: hidden;
}
.box {
    display: inline-block;
    border-right: 1px solid rgb(46, 46, 46);
    box-sizing: border-box;
    padding: 10px;
    height: 98%;
    width: 350px;
    padding-bottom: 0px;
    overflow-x: hidden;
}
.videoBox {
    width: 100%;
    height: 86%;
    background-color: rgb(34,39,46);
}
#chatContainer {
    float: right;
    border:1px solid rgb(46, 46, 46);
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    overflow: hidden;
}
#chatBox {
    background-color: #373E47;
    word-break: break-word;
    margin-bottom: 10px;
    height: 94%;
    overflow-y: auto;
}
.chatImg {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}
.chatText {
    padding-left: 32px;
}
.sendInput {
    min-height: 30px;
}
#sendMessageBox {
    width: 130px;
}
#msgImgInput {
    height: 20px;
    width: 130px;
}
.indexBox {
    padding: 10px;
    width: 50%;
}
.rooms {
    position: relative;
    border: 1px solid rgb(46, 46, 46);
    background-color: rgb(46, 46, 46, 0.5);
    display: block;
    float: left;
    height: 150px;
    width: 150px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    overflow: auto;
}
#openRoomInfo {
    border: 1px solid rgb(28,33,40);
    background-color: rgb(34,39,46);
    display: flex;
    align-items: flex-start;
    position: absolute;
    z-index: 999;
    width: 99%;
    overflow-y: hidden;
    transition: 0.5s;
    height: 0px;
}
#roomCover {
    width: 20%;
    height: 90%;
    margin: 1%;
    border: 1px solid rgb(0, 0, 0);
}
#roomText {
    width: 70%;
    height: 90%;
    margin-top: 1%;
}
.actionButton {
    position: relative;
    float: right;
    width: 100%;
    max-width: 100px;
    min-height: 100px;
    height: 45%;
    margin-top: 1%;
}
#roomTitle {
    background-color: #373E47;
    height: 20%;
    margin: 1%;
    border: 1px solid rgb(0, 0, 0);
}
#roomSummary {
    background-color: #373E47;
    float: left;
    height: 60%;
    margin: 1%;
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;
}
#nodeInfo {
    float: left;
    width: 50%;
    height: 60%;
    padding-top: 2%;
}
#stable {
    float: left;
    width: 15%;
    height: 100%;
}
#hostBlock {
    width: 100%;
    height: 50%;
}
#refreshMap {
    font-size: 10px;
    width: 100%;
    height: 50%;
}
#block0 {
    background-color: #373E47;
    float: left;
    width: 40%;
    height: 100%;
    border: 1px solid rgb(46, 46, 46);
    overflow: auto;
}
#block1 {
    background-color: #373E47;
    float: left;
    width: 40%;
    height: 100%;
    border: 1px solid rgb(46, 46, 46);
    overflow: auto;
}
.childNodes {
    min-width: 100%;
}
#liveSetting {
    background-color: rgb(28,33,40);
    border: 1px solid rgb(46, 46, 46);
    display: flex;
    align-items: flex-start;
    overflow: auto;
    position: absolute;
    z-index: 999;
    width: 99%;
    transition: 0.5s;
    height: 0px;
}
#LiveCover {
    background-color: #373E47;
    width: 150px;
    height: 150px;
    margin: 1%;
    border: 1px solid rgb(28,33,40);
}
.liveInput {
    background-color: #373E47;
    min-width: 150px;
    width: 70%;
    height: 10%;
    margin-bottom: 5px;
}
#LiveSummary {
    width: 70%;
    background-color: #373E47;
    height: 30%;
    word-wrap: break-word;
    overflow: scroll;
}
#streamSource {
    background-color: rgb(34,39,46);
    border: 1px solid rgb(28,33,40);
    display: flex;
    overflow-y: hidden;
    position: absolute;
    z-index: 999;
    width: 99%;
    transition: 0.5s;
    height: 0px;
}
.setting{
    width: 40px;
}
input {
    background-color: #373E47;
    color: rgb(197,209,216);
}
button {
    background-color: #373E47;
    color: rgb(197,209,216);
}
input[type=checkbox]{
    background-color: #373E47;
}
input[type="file"]::file-selector-button {
    color: rgb(197,209,216);
    background-color: #373E47;
}
option{
    color: rgb(197,209,216);
    background-color: #373E47;
}
select{
    color: rgb(197,209,216);
    background-color: #373E47;
}
textarea {
    background-color: #373E47;
    color: rgb(197,209,216);
}
textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
textarea::-webkit-scrollbar-thumb {
    background: #afafaf;
    -webkit-border-radius: 100px;
}
#gameMap {
    white-space: nowrap;
    height: 100%;
    width: 100%;
    font-size:0;
    overflow: auto;
}
#canvasMap {
    height: 100%;
    width: 70%;
    float: left;
    background-color: rgb(28,33,40);
    border:1px solid #373E47;
    box-sizing: border-box;
    z-index: 99;
}
.cells {
    width: 33px;
    height: 33px;
    /* display:inline-block; */
    box-sizing: border-box;
}
.cells:hover {
    border: 1px solid #afafaf;
}
.icon {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
.playersInfo {
    overflow-x: auto;
}
#playersList {
    background-color: #373E47;
    overflow-y: auto;
    white-space:nowrap;
    max-height: 50px;
}
#fullScreen {
    z-index: 99999;
}
@media only screen and (orientation: portrait) {
    /* Styles for devices in portrait mode go here */
    .container {
        height: 35%;
        position: absolute;
        bottom: 0px;
        overflow: auto;
    }
    #webVideo {
        position: static;
        width: 100%;
        height: 35%;
    }
    #chatContainer {
        width: 100%;
        height: 40%;
    }
    #streamSource {
        position: absolute;
        bottom: 0px;
    }
    #chatBox {
        height: 86%;
    }
    #liveSetting {
        position: absolute;
        bottom: 0px;
    }
    #openRoomInfo {
        position: absolute;
        bottom: 0px;
    }
    .indexContainer {
        position: absolute;
        bottom: 0px;
    }
    #roomTitle {
        width: 100%;
    }
    #roomSummary {
        height: 30%;
    }
    #nodeInfo {
        width: 100%;
    }
    #stable {
        width: 28%;
        height: 80%;
    }
    #block0 {
        width: 35%;
    }
    #block1 {
        width: 35%;
    }
    #roomCover {
        width: 60px;
        height: 60px;
    }
    .sendInput {
        width: 100%;
    }
    #sendMessageBox {
        width: 250px;
    }
    #streamSourceMenuClose {
        width: 50px;
        height: 50px;
    }
    #canvasMap {
        height: 35%;
        width: 100%;
    }
}
@media only screen and (orientation: landscape) {
    #liveSetting {
        top: 0px;
    }
    #openRoomInfo {
        top: 0px;
    }
    #roomTitle {
        width: 86%;
    }
    #streamSource {
        top: 0;
    }
}